<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My Note Application</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-wrench"></span> Admin
                        </a>
                    </li>
                    <li>
                        <a href="/Home/MostLiked">
                            <span class="glyphicon glyphicon-star"></span> Most Liked
                        </a>
                    </li>
                    <li>
                        <a href="/Home/Index">
                            <span class="glyphicon glyphicon-th-list"></span> Last Update
                        </a>
                    </li>
                    <li>
                        <a href="/Home/About">
                            <span class="glyphicon glyphicon-info-sign"></span> About
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Home/Login">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span> Sign In
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span> User
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    @RenderBody()

    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h5>
                        Copyright &copy; My Note @DateTime.Now.Year
                    </h5>

                    <hr />
                </div>
                <div class="col-lg-4 text-center">
                    <h5>
                        <strong>Site Map</strong>
                    </h5>
                    <hr />
                    <p>
                        <a href="#"><span class="glyphicon glyphicon-wrench"></span> About Us</a><br />
                        <a href="#"><span class="glyphicon glyphicon-star"></span>Top Like</a><br />
                        <a href="#"><span class="glyphicon glyphicon-th-list"></span>Last Update</a><br />
                    </p>
                </div>
                <div class="col-lg-4 text-center">
                    <h5>
                        <strong>Subscribe</strong>
                    </h5>
                    <hr />
                    <div class="col-md-10 col-md-offset-2">
                        <p>
                            Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        </p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="e-mail address" aria-label="e-mail address" aria-describedby="button-addon2">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" id="button-addon2">Subscribe</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
