    <!-- /.container -->

<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>
                    Copyright &copy; My Note @DateTime.Now.Year
                </h5>

                <hr />
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Site Map</strong>
                </h5>
                <hr />
                <p>
                    <a href="/Home/About"><span class="glyphicon glyphicon-wrench"></span> About Us</a><br />
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span>Top Like</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span>Last Update</a><br />
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>Subscribe</strong>
                </h5>
                <hr />
                <div class="col-md-10 col-md-offset-2">
                    <p>
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-mail address" aria-label="e-mail address" aria-describedby="button-addon2">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit" id="button-addon2">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->